 
 +==== BEGIN AsperHeader =================+
 LOGO:
 ..........####...####..........
 ......###.....#.#########......
 ....##........#.###########....
 ...#..........#.############...
 ...#..........#.#####.######...
 ..#.....##....#.###..#...####..
 .#.....#.##...#.##..##########.
 #.....##########....##...######
 #.....#...##..#.##..####.######
 .#...##....##.#.##..###..#####.
 ..#.##......#.#.####...######..
 ..#...........#.#############..
 ..#...........#.#############..
 ...##.........#.############...
 ......#.......#.#########......
 .......#......#.########.......
 .........#####...#####.........
 /STOP
 PROJECT: AsperHeader
 FILE: .gitignore
 CREATION DATE: 14-08-2026
 LAST Modified: 13:13:48 14-08-2026
 DESCRIPTION:
 
 /STOP
 COPYRIGHT: (c) Asperguide
 PURPOSE: 
 // AR
 +==== END AsperHeader =================+
 

node_modules/
#.env
#.env.*
!.env.example
*.log
